doctype html 
html
    head
        title Nupur Dance Academy
        block scripts
        block style 
    body
        
        block content   
        footer#footer
         |Copyright &copy; 2021 NupurDanceAcademy.com | All rights reserved